<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>Nyan~</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>
<body>
  <div class="square horizonal"> </div>
  <div class="square vectorial"> </div>
  <div id="textarea">
  {% if post_list %}
  <ul>
  {% for post in post_list %}
    <li><a href="#">{{ post }}</a></li>
  {% endfor %}
  {% endif %}
  </ul>
  </div>

  <!-- Google API -->
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <!-- need load jquery first -->
  <script type="text/javascript" src="static/js/script.js"></script>    

</body>
</html>
